# This file is relevant for users of Nix: You can use direnv to automatically
# set up the dev environment while in this directory.
# See also: https://direnv.net/ and https://github.com/nix-community/nix-direnv
use nix

# also include node_modules/.bin in your PATH while in this directory
# see https://github.com/direnv/direnv/wiki/Node#using-the-layout-node-directive
layout node

# environment from .env file. this file is .gitignored, so can be used for
# local config.
dotenv_if_exists
