node_modules

/testdata

*.tgz
*.js.map
*.d.ts.map
/packages/zstd-wasm-codec/build
/packages/zstd-wasm-codec/src/README.md
/packages/zstd-wasm-codec/src/LICENSE
/tests/benchmark/compressed/*.zst
/tests/benchmark/compressed/*.json
/tests/data/*.json
/test/benchmark/compressed/*.zst
/test/benchmark/compressed/*.json
/test/data/*.json
/archive
*.dll
*.so
*.so.*
*.dylib
*.framework
*.xcframework
*.exe
*.out
*.app
.clang_complete
.clang-format
.directory
*.idea
*.swp
.DS_Store
*.d
*.vscode
*.code-workspace
.clangd
.env
.direnv
